@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: local('PT Sans Italic'), local('PTSans-Italic'), url(https://fonts.gstatic.com/s/ptsans/v10/jizYRExUiTo99u79D0e0x8mN.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 700;
  src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url(https://fonts.gstatic.com/s/ptsans/v10/jizdRExUiTo99u79D0e8fOydLxUY.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(https://fonts.gstatic.com/s/ptsans/v10/jizaRExUiTo99u79D0KEwA.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(https://fonts.gstatic.com/s/ptsans/v10/jizfRExUiTo99u79B_mh0O6tKA.ttf) format('truetype');
}
html {
  margin: 0px;
  padding: 0px;
}
html p {
  line-height: 25px;
}
body {
  padding: 0px;
  margin: auto;
  background-color: #FFFFF0;
  font-family: 'PT Sans', sans-serif;
}
body a {
  text-decoration: none;
  color: #005366;
}
body h1 {
  font-size: 2.8rem;
  padding: 0px 30px;
  margin: 10px 0px;
}
body .about-header {
  text-align: center;
  margin-bottom: 30px;
}
body .hide {
  display: none;
}
header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: none;
  flex-direction: row;
  max-width: 1100px;
  margin: auto;
}
header h2 {
  font-size: 2rem;
  margin: 0;
}
header img {
  cursor: pointer;
  margin-top: 5px;
  width: 30px;
  height: 30px;
}
header nav {
  display: none;
}
header nav a {
  border-bottom: 2px solid #FFFFF0;
}
@media (min-width: 1000px) {
  header img {
    display: none;
  }
  header nav {
    width: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }
  header nav a {
    border-bottom: 2px solid #FFFFF0;
  }
}
.menu {
  background-color: #BAF2E8;
  border-top: 1px solid #C0C0C0;
  border-bottom: 1px solid #C0C0C0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: space-around;
  height: 300px;
  position: absolute;
  z-index: 4;
  width: 100%;
}
.menu ul {
  list-style: none;
}
.menu li {
  margin: 10px;
  font-size: 2rem;
  text-decoration: none;
}
.sign-up {
  color: #005366;
  padding: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.sign-up p {
  margin: 0px 0px 35px 0px;
  font-size: 1.1rem;
}
.sign-up .sign-up-content input {
  line-height: 50px;
  width: 300px;
  align-self: center;
  border: 1px solid #005366;
  font-size: 1rem;
  padding: 0px 10px;
  margin-bottom: 20px;
  text-align: center;
  color: #005366;
}
.sign-up .sign-up-content input::placeholder {
  color: #005366;
}
.sign-up .sign-up-content .sign-up-btn {
  line-height: 50px;
  background-color: #F56358;
  color: #FFFFF0;
  width: 300px;
  margin: auto;
  border: 1px solid #F56358;
  border-radius: 20px;
  display: block;
  cursor: pointer;
}
@media (min-width: 1000px) {
  .sign-up .sign-up-content {
    display: flex;
    justify-content: none;
    align-items: none;
    flex-direction: row;
  }
  .sign-up .sign-up-content input {
    margin: 0px 10px;
  }
  .sign-up .sign-up-content .sign-up-btn {
    margin: 0px 10px;
  }
}
.testimony-img {
  height: 300px;
  width: 100%;
  background-color: #BAF2E8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.testimonies {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  padding: 30px 30px 0px 30px;
  max-width: 1100px;
  margin: auto;
}
.testimonies .testimony-text {
  color: #218DA6;
  padding: 0px 75px;
  text-align: center;
}
.testimonies .testimony-text .testimony-giver {
  color: #005366;
  margin: 0px;
  padding: 0px 0px 30px 0px;
}
@media (min-width: 800px) {
  .testimonies {
    display: flex;
    justify-content: space-around;
    align-items: none;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .testimonies .testimony {
    width: 45%;
  }
  .testimonies .testimony-text {
    padding: 0px 30px;
    text-align: center;
  }
}
@media (min-width: 1000px) {
  .testimonies {
    display: flex;
    justify-content: space-around;
    align-items: none;
    flex-direction: row;
  }
  .testimonies .testimony {
    width: 30%;
  }
  .testimonies .testimony-text {
    padding: 0px 30px;
    text-align: center;
  }
}
.about-content {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
}
.about-content .gray-bg {
  background-color: #BAF2E8;
  width: 100%;
}
.about-content .role {
  max-width: 1400px;
  margin: auto;
  padding-top: 30px;
  display: flex;
  justify-content: none;
  align-items: none;
  flex-direction: column;
}
.about-content .role h1 {
  text-align: center;
  color: #005366;
}
@media (min-width: 1000px) {
  .about-content .role {
    display: flex;
    justify-content: space-around;
    align-items: none;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .about-content .role h1 {
    width: 100%;
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .about-content .role {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .about-content .role h1 {
    width: 100%;
    margin-bottom: 40px;
  }
}
@media (min-width: 1000px) {
  .about-content .user-interface .about-person {
    width: 50%;
  }
  .about-content .user-interface .about-person .person-text {
    padding: 0px 50px;
  }
}
@media (min-width: 1200px) {
  .about-content .user-interface .about-person {
    width: 33%;
  }
}
@media (min-width: 1000px) {
  .about-content .front-end .about-person {
    width: 50%;
  }
  .about-content .front-end .about-person .person-text {
    padding: 0px 50px;
  }
}
@media (min-width: 1200px) {
  .about-content .front-end .about-person {
    width: 50%;
  }
}
@media (min-width: 1000px) {
  .about-content .back-end .about-person {
    display: flex;
    justify-content: none;
    align-items: none;
    flex-direction: row;
    width: 75%;
    margin-bottom: 50px;
    padding-left: 50px;
  }
  .about-content .back-end .about-person .person-text {
    width: 50%;
    padding: 0px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@media (min-width: 1400px) {
  .about-content .back-end .about-person {
    padding-left: 100px;
  }
  .about-content .back-end .about-person .person-text {
    width: 50%;
    padding: 0px 100px;
  }
}
.about-content .about-person {
  text-align: center;
  margin-bottom: 20px;
}
.about-content .about-person .person-img {
  height: 350px;
  width: 350px;
  border: 3px solid #005366;
  border-radius: 50%;
}
.about-content .about-person .person-text {
  padding: 0px 20px;
}
.about-content .about-person .person-text h2 {
  color: #005366;
}
.about-content .about-person .person-text p {
  color: #218DA6;
}
@media (min-width: 800px) {
  .about-content .about-person .person-text {
    padding: 0px 100px;
  }
}
@media (min-width: 1200px) {
  .about-content .about-person .person-text {
    padding: 0px 75px;
  }
}
.join-others {
  text-align: center;
  color: #005366;
  background-color: #BAF2E8;
  padding: 50px 20px;
}
.join-others h2 {
  font-size: 2rem;
  margin: 0px;
  margin-bottom: 20px;
}
.join-others h2 .colored-h2 {
  color: #F56358;
}
.join-others .sign-up-content input {
  line-height: 50px;
  width: 300px;
  align-self: center;
  border: 1px solid #005366;
  font-size: 1rem;
  padding: 0px 10px;
  margin-bottom: 20px;
  text-align: center;
  color: #005366;
}
.join-others .sign-up-content input::placeholder {
  color: #005366;
}
.join-others .sign-up-content .sign-up-btn {
  line-height: 50px;
  background-color: #F56358;
  color: #FFFFF0;
  width: 300px;
  margin: auto;
  border: 1px solid #F56358;
  border-radius: 20px;
  display: block;
  cursor: pointer;
}
@media (min-width: 1000px) {
  .join-others .sign-up-content {
    display: flex;
    justify-content: center;
    align-items: none;
    flex-direction: row;
  }
  .join-others .sign-up-content input {
    margin: 0px 10px;
  }
  .join-others .sign-up-content .sign-up-btn {
    margin: 0px 10px;
  }
}
@media (min-width: 800px) {
  .join-others {
    padding: 50px 125px;
  }
}
@media (min-width: 1000px) {
  .join-others {
    padding: 50px 200px;
  }
}
.features {
  padding: 30px 30px 60px 30px;
  max-width: 1100px;
  margin: auto;
}
.features h2 {
  color: #005366;
  font-size: 2rem;
}
.features p {
  color: #218DA6;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}
footer h3 {
  color: #005366;
  margin: 0px 0px 20px 0px;
}
footer address {
  color: #218DA6;
}
