/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
header.page-header {
  position: relative;
  width: 100%;
  height: 15vw;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 1rem;
}
header.page-header .header-background {
  width: 85vw;
  height: 85vw;
  position: absolute;
  left: 0;
  top: -73vw;
  z-index: -1;
  background: linear-gradient(129.34deg, #EC4A26 22.12%, #D02904 95.08%);
  border-radius: 33%;
  transform: rotate(12.73deg);
}
@media (min-width: 1000px) {
  header.page-header .header-background {
    width: 100vw;
    height: 40vw;
    border-radius: 12.5vw 14rem;
    top: 10rem;
    transform: translateY(-100%) rotate(4deg);
  }
}
@media (min-width: 1000px) {
  header.page-header {
    height: 18rem;
    padding-top: 5rem;
  }
}
header.page-header h1 {
  color: #F2F2F2;
  font-size: 2.4rem;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
}
.developer-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2.4rem;
}
@media (min-width: 1000px) {
  .developer-info {
    width: 90%;
    max-width: 100rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;
  }
}
.developer {
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}
.developer .profile-picture {
  width: 50vw;
  max-width: 20rem;
  height: 50vw;
  max-height: 20rem;
  border-radius: 50%;
  background: linear-gradient(129.34deg, #EC4A26 22.12%, #D02904 95.08%);
  position: relative;
}
.developer .profile-picture div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  vertical-align: middle;
  width: 95%;
  height: 95%;
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  background-position: center;
  background-size: cover;
}
.developer p {
  font-size: 1.4rem;
  font-style: italic;
  color: #4E4E4E;
  width: 85%;
  max-width: 30rem;
}
.developer .name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50vw;
  max-width: 20rem;
}
.developer .name h2 {
  font-size: 1.6rem;
  margin: 0 1rem;
  font-weight: normal;
}
.developer .name span {
  height: 1px;
  flex-grow: 1;
  border: 0.5px solid #262122;
}
@media (min-width: 1000px) {
  .developer {
    width: 33%;
  }
}
.nav-bar {
  width: 100%;
  background-color: transparent;
  height: 4rem;
  font-size: 2rem;
  font-family: 'Roboto Condensed', sans-serif;
}
.nav-bar nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.nav-bar nav h2 {
  color: #F2F2F2;
  font-weight: 300;
}
.nav-bar .register-tab {
  font-size: 1.4rem;
  background-color: #262122;
  display: flex;
  justify-content: space-evenly;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  margin-right: 2%;
  width: 20rem;
  align-items: center;
  height: 90%;
}
.nav-bar .register-tab button {
  border: none;
  background-color: transparent;
  color: #F2F2F2;
  font-family: 'Roboto Condensed', sans-serif;
  width: 50%;
}
.nav-bar .register-tab span {
  width: 0.1rem;
  border: 0.05rem solid #F2F2F2;
  height: 80%;
}
.features {
  margin-top: 3rem;
  height: auto;
}
.features .feature-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: auto;
  margin-bottom: 4rem;
}
.features .feature-info p {
  width: 90%;
  font-size: 2rem;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  margin-bottom: 5%;
}
.features .feature-info div {
  border-radius: 5%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-position: center;
  background-size: cover;
  width: 30rem;
  height: 20rem;
  max-width: 90vw;
  max-height: 60vw;
}
@media (min-width: 1000px) {
  .features .feature-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .features .feature-info div {
    width: 30rem;
    height: 30rem;
    max-width: 40%;
    max-height: 100%;
  }
  .features .feature-info p {
    width: 70%;
    text-align: left;
  }
}
@media (min-width: 1000px) {
  .features .feature-info:nth-child(2n + 2) {
    flex-direction: row-reverse;
  }
  .features .feature-info:nth-child(2n + 2) p {
    text-align: right;
  }
}
.features.no-image .feature-info p {
  text-align: center;
}
@media (min-width: 1000px) {
  .features.no-image .feature-info p {
    text-align: center;
  }
}
.nav-button {
  position: fixed;
  z-index: 1000;
  top: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: none;
  background-color: transparent;
  width: 4rem;
  height: 2rem;
}
.nav-button span {
  min-width: 4rem;
  height: 0.1rem;
  display: block;
  border: 0.1rem solid #F2F2F2;
}
@media (min-width: 1000px) {
  .nav-button {
    display: none;
  }
}
.navigation {
  display: flex;
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  top: 0;
  left: 0;
  background: linear-gradient(129.34deg, #EC4A26 22.12%, #D02904 95.08%);
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 3rem;
  z-index: 50;
  color: #F2F2F2;
  font-family: 'Roboto', sans-serif;
  clip-path: circle(0px at 100% 0);
}
.navigation a {
  color: inherit;
  text-decoration: none;
  z-index: 100;
}
.navigation .nav-background {
  display: none;
}
@media (min-width: 1000px) {
  .navigation .nav-background {
    display: initial;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(129.34deg, #EC4A26 22.12%, #D02904 95.08%);
    opacity: 0;
  }
}
@media (min-width: 1000px) {
  .navigation {
    clip-path: initial;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    min-width: 100%;
    min-height: 5rem;
    background: initial;
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 1.8rem;
  }
}
.info-drawer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  background: linear-gradient(129.34deg, #EC4A26 22.12%, #D02904 95.08%);
  min-width: 80vw;
  width: 80vw;
  min-height: 80vw;
  border-radius: 50%;
  color: #F2F2F2;
  font-family: 'Roboto', sans-serif;
  font-size: 2.4rem;
  font-weight: 300;
  margin-bottom: 4rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}
.info-drawer h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.info-drawer p {
  display: none;
}
.info-drawer .expand-button {
  font-size: 4.6rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%);
}
@media (min-width: 768px) {
  .info-drawer {
    min-height: 20rem;
    border-radius: 0;
  }
  .info-drawer p {
    display: block;
  }
  .info-drawer .expand-button {
    display: none;
  }
  .info-drawer h2 {
    position: relative;
    left: initial;
    transform: initial;
  }
}
@media (min-width: 1000px) {
  .info-drawer {
    min-width: 100%;
    width: 100%;
  }
}
.device-showcase {
  display: none;
}
@media (min-width: 1000px) {
  .device-showcase {
    position: absolute;
    overflow-x: hidden;
    overflow-y: hidden;
    display: initial;
    width: 980px;
    height: 650px;
    top: 100vh;
    transform: translateY(-50%);
    z-index: 2;
  }
  .device-showcase .desktop-device {
    width: 900px;
    background-color: #262122;
    height: 600px;
    padding: 0 2%;
    padding-top: 1%;
    border-radius: 5%;
  }
  .device-showcase .desktop-device .screen {
    width: 100%;
    height: 93%;
    bottom: 0;
  }
  .device-showcase .desktop-device .camera {
    display: block;
    margin: 0 auto;
    margin-bottom: 1%;
    height: 10px;
    width: 10px;
    background-color: #F2F2F2;
    border-radius: 50%;
  }
  .device-showcase .phone-device {
    position: absolute;
    width: 200px;
    height: 370px;
    padding: 0.2% 1%;
    right: 0;
    bottom: 0;
    background-color: #F2F2F2;
    border-radius: 2rem;
    box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.25);
    transform: translateY(-10%);
  }
  .device-showcase .phone-device .screen {
    width: 100%;
    height: 92%;
  }
  .device-showcase .phone-device .camera {
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5%;
    height: 5px;
    width: 5px;
    background-color: #262122;
    border-radius: 50%;
  }
  .device-showcase .phone-device .speaker {
    display: block;
    width: 21px;
    height: 1px;
    background-color: #262122;
    margin: 0 auto;
    margin-bottom: 1%;
  }
  .device-showcase .phone-device .home-button {
    display: block;
    width: 18px;
    height: 18px;
    background-color: #262122;
    margin: 0 auto;
    margin-top: 1%;
    border-radius: 50%;
  }
  .device-showcase .screen {
    background: linear-gradient(129.34deg, #EC4A26 22.12%, #D02904 95.08%);
  }
}
:root {
  font-size: 62.5%;
}
*,
html {
  font-size: inherit;
  font-family: inherit;
  box-sizing: border-box;
}
body {
  background-color: #F2F2F2;
  max-width: 100vw;
}
@media (min-width: 1000px) {
  .container {
    max-width: 1000px;
    margin: 0 auto;
  }
}
.background-container {
  overflow-x: hidden;
  position: relative;
  z-index: 0;
  width: 100%;
  height: auto;
}
.background-container .background {
  width: 150vh;
  min-width: 150vw;
  height: 150vh;
  min-height: 150vw;
  top: 0;
  left: 0;
  background: linear-gradient(129.34deg, #EC4A26 22.12%, #D02904 95.08%);
  border-radius: 40vh;
  transform-origin: 0px 0px;
  transform: translateX(60vw) translateY(-50%) rotate(45deg);
}
@media (min-width: 768px) {
  .background-container .background {
    display: none;
  }
}
@media (min-width: 1000px) {
  .background-container {
    height: 8rem;
  }
}
.home-container {
  background-image: url("../assets/background.svg");
  background-size: 400px 816px;
  background-repeat: repeat;
  background-position: -5% 0;
  width: auto;
  height: auto;
}
.top-section {
  height: 100vh;
  width: 100%;
  max-width: 100vw;
  position: absolute;
  top: 0;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 5vh;
  color: #F2F2F2;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  text-align: center;
  background-image: url("../assets/background.svg");
  background-size: 400px 816px;
  background-repeat: repeat;
  background-position: -5% 0;
}
.top-section .top-section-container {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: 'Roboto Condensed', sans-serif;
}
.top-section h1 {
  font-size: 5.4em;
  font-weight: 500;
}
.top-section h2 {
  margin: 0 auto;
  font-weight: 300;
  font-size: 2.4em;
  width: 60%;
}
.top-section button {
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: 2rem;
  font-size: 2.4rem;
  background: #262122;
  border: none;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3rem;
  color: #F2F2F2;
  width: 80%;
  height: 6rem;
}
@media (min-width: 1000px) {
  .top-section button {
    width: 50%;
    border-radius: 2rem;
  }
}
@media (min-width: 768px) {
  .top-section {
    position: relative;
    background: none;
    margin-bottom: 8rem;
  }
}
@media (min-width: 1000px) {
  .top-section {
    padding-bottom: 500px;
  }
  .top-section .top-section-container {
    height: 30rem;
  }
}
.desktop-background {
  display: none;
}
@media (min-width: 768px) {
  .desktop-background {
    display: initial;
    position: absolute;
    min-width: 100%;
    background: linear-gradient(129.34deg, #EC4A26 22.12%, #D02904 95.08%);
    height: 100vh;
    top: 0;
  }
}
section.app-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 1000px) {
  section.app-info {
    padding-top: 300px;
  }
}
hidden {
  display: none;
}
