/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
.nav-bar {
  width: 100%;
  background-color: #F2522E;
  height: 4rem;
  font-size: 2rem;
}
.nav-bar nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.nav-bar nav h2 {
  color: #F2F2F2;
}
.nav-bar .register-tab {
  font-size: 1.2rem;
  background-color: #262122;
  display: flex;
  justify-content: space-evenly;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  margin-right: 2%;
  width: 20rem;
  align-items: center;
  height: 90%;
}
.nav-bar .register-tab button {
  border: none;
  background-color: transparent;
  color: #F2F2F2;
}
.nav-bar .register-tab span {
  width: 0.1rem;
  border: 0.05rem solid #F2F2F2;
  height: 80%;
}
*,
html {
  font-size: 62.5%;
  font-size: inherit;
  box-sizing: border-box;
}
