header.page-header {
    position: relative;
    width: 100%;

    .header-background {
        width: 85vw;
        height: 85vw;
        position: absolute;
        left:0;
        top: -73vw;

        background: @backgroundGradient;
        border-radius: 33%;
        transform: rotate(12.73deg);
    }
}