html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 14pt;
    margin: 0;
    padding: 0;
}

body{
    @media @tablet{
        width: 900px;
        
    }
}

* {
    box-sizing: border-box;
  }