@import './variables';
@import './mixins';
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic,900');

html {
    margin: 0px;
    padding: 0px;

    p {
        line-height: 25px;
    }
}

body {
    padding: 0px;
    margin: auto;
    background-color: @backgroundColor;
    font-family: 'PT Sans', sans-serif;

    a {
        text-decoration: none;
        color: @fontColor;
    }

    h1 {
        font-size: 2.8rem;
        padding: 0px 30px;
        margin: 10px 0px;
    }

    .about-header {
        text-align: center;
        margin-bottom: 30px;
    }

    .hide {
        display: none;
    }
}

@import './components/Header/Header';
@import './components/Menu/Menu';
@import './components/Sign-Up/SignUp';
@import './components/Testimonies/Testimonies';
@import './components/About-Content/AboutContent';
@import './components/Join-Others/JoinOthers';
@import './components/Features/Features';
@import './components/Footer/Footer';