@import "../reset/reset.less";
@import "variables.less";
@import "dimensions.less";
@import "mixins.less";

@import "../NavBar/navbar.less";
@import "../Cards/cards.less";
@import "../DemoCarousel/carousel.less";

*, html{
    font-size: 62.5%;
    font-size: inherit;
    box-sizing: border-box;
}