.flex(@jc: none, @ai: none, @dir: row) {
    display: flex;
    justify-content: @jc;
    align-items: @ai;
    flex-direction: @dir;
}

.emailInput() {
    line-height: 50px;
    width: 300px;
    align-self: center;
    border:1px solid black;
    font-size: 1rem;
    padding: 0px 10px;
    margin-bottom: 20px;
    text-align: center;
}

.signUpButton() {
    line-height: 50px;
    background-color: #F2522E;
    color: white;
    width: 300px;
    margin: auto;
    border-radius: 20px;
    display: block;
    cursor: pointer;
}

.maxWidthAndCenter() {
    max-width: 1100px;
    margin: auto;
}