// Colors

@colorBlack: #262122;
@colorWhite: #F2F2F2;
@colorPrimary: #F2522E;
@colorSecondary: #BF533B;
@colorTertiary: #F23E2E;

@backgroundGradient: linear-gradient(129.34deg, #EC4A26 22.12%, #D02904 95.08%);

// Fonts
@roboto: 'Roboto', sans-serif;
@robotoCondensed: 'Roboto Condensed', sans-serif;