header{
    .flex(row,space-between);
    position: sticky;
    top: 0;
    width:100%;
    height: 50px;
    z-index: 1;
    background-color:@bgcolor;
    .headerImg{
        img{
            max-width: 70%;
            background-color: darkslategray;
            @media @tablet{
                max-width: 50%;
                margin:auto;
            }
        }
        @media @tablet {
            .flex();
        }
    }
    @media @tablet{
        .flex(column,center,nowrap,center);
        height: auto;
    }

    nav{
        position: absolute;
        right:0px;
        top:0px;
        text-align: center;
        overflow: hidden;
        margin: 0;
        z-index: 100;
        
        .flex(column,center);
        align-items: center;

        .menuButton{
            cursor: pointer;
            margin:auto;
            padding:12.5px;
            .stdBorder();
            width:110px;
            background-color: @ACY;
            @media @tablet {
                display: none;
            }
        }
        .navContainer{
            background-color: @ACY;
            transition: transform .25s;
            z-index: 100;
            &.hide{
                transform: translate(101%);
                @media @tablet{
                    transform: translate(0%)
                }
            }
            section{
                width: 110px;
                padding:.25rem;
                .stdBorder();
                a{
                    text-decoration: none;
                    color: black;
                }
                @media @tablet{
                    .emptyBorder();
                }
            }
            @media @tablet{
                .flex(row,space-around);
                align-items: center;
            }

            .current{
                background-color: darken(@ACY,15%);
            }
        }

        @media @tablet{
            position: relative;
            width: 100%;
            .flex(row,center,nowrap,center);
        }
    }
}